<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" >
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prestacao-contas">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Prestação <br>de Contas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="processos-julgados">
      <ion-icon name="send"></ion-icon>
      <ion-label>Processos <br>Julgados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="convenios">
        <ion-icon name="send"></ion-icon>
        <ion-label>Convênios</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>